@import "../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem;

  // Media query pour les petits écrans
  @include breakpoint($small-screen) {
    padding: 1rem;

    img {
      width: 145px;
    }
  }
}

.link {
  gap: 20px;
  display: flex;
  a {
    color: $noir-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $noir-color;
    }
  }
}
