@import "../variables.scss";
.link {
  display: flex;
  img {
    @include breakpoint($small-screen) {
      height: auto;
    }
    width: 340px;
    height: 340px;
    object-fit: cover;
    display: flex;
    flex: 1;
    border-radius: 10px;
  }
}
