$blanc-color: rgba(255, 255, 255, 1);
$rouge-color: rgba(255, 96, 96, 1);
$noir-color: rgba(0, 0, 0, 1);
$bg-color: rgba(246, 246, 246, 0.45);

// Définition des breakpoints
$small-screen: 480px;

// Définition des mixins
@mixin breakpoint($point) {
  @media (max-width: $point) {
    @content;
  }
}
